flask
requests
fastapi
uvicorn
pydantic
langgraph
langchain-openai
langchain-google-genai
langchain-anthropic
langchain-deepseek
langchain-core
langchain-mcp-adapters
python-dotenv
httpx
mcp
apscheduler
aiosqlite
langgraph-checkpoint-sqlite
ddgs
pymupdf

# Chatbot dependencies
qq-botpy
python-telegram-bot
aiohttp
aiohttp_socks
silk-python
pydub
av
static_ffmpeg
