fastapi
uvicorn
python-multipart
nltk
spacy
librosa
soundfile
gtts
textblob
language-tool-python
numpy
python-dotenv
openai
torch>=2.4.0
torchvision>=0.19.0
torchaudio>=2.4.0
transformers>=4.51.0
peft>=0.14.0
trl
bitsandbytes
accelerate
datasets
scikit-learn
encodec
einops
networkx
