google-cloud-storage==3.9.0
google-cloud-compute==1.43.0
google-cloud-iam==2.21.0
google-cloud-resource-manager==1.16.0
google-cloud-logging==3.13.0
google-cloud-dns==0.36.0
google-cloud-kms==3.10.0
google-cloud-bigquery==3.40.1
google-auth==2.48.0
google-api-python-client==2.190.0
