<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <mirrors>
    <!-- Optional: Aliyun Mirror for faster downloads in China -->
    <mirror>
      <id>aliyunmaven</id>
      <mirrorOf>central</mirrorOf>
      <name>Aliyun Public</name>
      <url>https://maven.aliyun.com/repository/public</url>
    </mirror>
  </mirrors>

  <servers>
    <!-- Central Portal Credentials -->
    <!-- Get these from https://central.sonatype.com/account -->
    <server>
      <id>central</id>
      <username>REPLACE_WITH_USER_TOKEN_NAME</username>
      <password>REPLACE_WITH_USER_TOKEN_PASS</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>release</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg</gpg.executable>
        <gpg.passphrase>REPLACE_WITH_PASSPHRASE</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
</settings>