[Unit]
Description=Run Blocket watch every 60 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=60min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
