{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Task Hub Skill API",
    "version": "3.3.14",
    "description": "Public skill contract for execute/poll/presentation/account connect/account balance/account ledger via gateway-managed public bridge."
  },
  "servers": [
    {
      "url": "https://gateway-api.binaryworks.app"
    }
  ],
  "x-built-in-host-examples": [
    "mobileclaw",
    "openclaw",
    "codex",
    "claude"
  ],
  "x-portal-actions": {
    "portal.skill.execute": {
      "summary": "Execute capability run via host proxy",
      "method": "POST",
      "path": "/agent/skill/execute",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillExecuteInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillExecuteOutput"
      },
      "required_scope": "execute"
    },
    "portal.skill.poll": {
      "summary": "Poll run state via host proxy",
      "method": "GET",
      "path": "/agent/skill/runs/{runId}",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillPollInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillPollOutput"
      },
      "required_scope": "poll"
    },
    "portal.skill.presentation": {
      "summary": "Fetch presentation payload via host proxy",
      "method": "GET",
      "path": "/agent/skill/runs/{runId}/presentation",
      "input_schema": {
        "$ref": "#/components/schemas/PortalSkillPresentationInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalSkillPresentationOutput"
      },
      "required_scope": "presentation"
    },
    "portal.account.connect": {
      "summary": "Explicitly start or check hosted account connection via public bridge",
      "method": "POST",
      "path": "/agent/public-bridge/invoke",
      "input_schema": {
        "$ref": "#/components/schemas/PortalAccountConnectInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalAccountConnectOutput"
      },
      "required_scope": "public_bridge_only"
    },
    "portal.account.balance": {
      "summary": "Read account points balance via host proxy",
      "method": "GET",
      "path": "/agent/skill/account/balance",
      "input_schema": {
        "$ref": "#/components/schemas/PortalAccountBalanceInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalAccountBalanceOutput"
      },
      "required_scope": "account_read"
    },
    "portal.account.ledger": {
      "summary": "Read account points ledger via host proxy",
      "method": "GET",
      "path": "/agent/skill/account/ledger",
      "input_schema": {
        "$ref": "#/components/schemas/PortalAccountLedgerInput"
      },
      "output_schema": {
        "$ref": "#/components/schemas/PortalAccountLedgerOutput"
      },
      "required_scope": "account_read"
    }
  },
  "x-host-auth-onboarding": {
    "type": "bridge_managed",
    "primary_entrypoint_endpoint": "/agent/public-bridge/invoke",
    "primary_entrypoint_first_time_error": {
      "code": "AUTHORIZATION_REQUIRED",
      "response_fields": [
        "authorization_url",
        "entry_user_key",
        "gateway_api_base_url",
        "auth_session_id",
        "retry_after_seconds"
      ],
      "notes": [
        "With TRIAL_ENABLED and available trial points, first-time calls may succeed without browser authorization.",
        "AUTHORIZATION_REQUIRED is expected when trial is exhausted, trial is disabled, or authorization upgrade is otherwise required."
      ]
    },
    "primary_entrypoint_first_time_success": {
      "response_fields": [
        "entry_host",
        "entry_user_key"
      ],
      "notes": [
        "On successful first-time trial responses, persist entry_user_key immediately.",
        "Reuse that same entry_user_key across follow-up calls to keep stable account continuity."
      ]
    },
    "agent_uid_format": "^agent_[a-z0-9][a-z0-9_-]{5,63}$",
    "conversation_id_format": "^[A-Za-z0-9._:-]{8,128}$"
  },
  "x-agent-read-this-first": [
    "Do not mix connector lifecycle commands with published skill actions.",
    "Connector lifecycle commands are host/runtime controls; published skill actions are the stable AI and account operations.",
    "Public capability inventory below lists only enabled capabilities intentionally advertised to agents."
  ],
  "x-data-handling-boundary": {
    "attachment_scope": "explicit_current_request_only",
    "allowed_upload_host": "https://gateway-api.binaryworks.app",
    "allowed_upload_endpoint": "/agent/public-bridge/upload-file",
    "local_file_access": "disabled",
    "local_persistence": "disabled",
    "consent_requirement": "host_should_obtain_user_consent_before_forwarding_media"
  },
  "x-interaction-layers": {
    "connector_lifecycle": {
      "purpose": "host/runtime installation and continuity controls",
      "commands": [
        "connect",
        "status",
        "invoke",
        "logout"
      ],
      "when_to_use": "Use only when the host is managing connector installation state or browser authorization continuity."
    },
    "published_skill_actions": {
      "purpose": "user-facing AI execution and account queries through the public bridge",
      "actions": [
        "portal.account.connect",
        "portal.skill.execute",
        "portal.skill.poll",
        "portal.skill.presentation",
        "portal.account.balance",
        "portal.account.ledger"
      ],
      "when_to_use": "Use for explicit account binding, AI task execution, async polling, presentation fetch, and points queries."
    }
  },
  "x-public-capability-categories": {
    "scope": "enabled_and_available_public_capabilities_only",
    "categories": [
      {
        "id": "image_analysis",
        "title": "Image Analysis",
        "summary": "Detection, tagging, landmarks, and face/body understanding tasks on uploaded images.",
        "capability_names": [
          "Human Detect",
          "Image Tagging",
          "Face Detect",
          "Body Keypoints 2D",
          "Face Emotion Recognition"
        ]
      },
      {
        "id": "background_removal",
        "title": "Background Removal",
        "summary": "Segmentation, mask, cutout, and matting outputs for people or products.",
        "capability_names": [
          "Person Instance Segmentation",
          "Person Semantic Segmentation",
          "Concert Cutout",
          "Full Body Matting",
          "Head Matting",
          "Product Cutout"
        ]
      },
      {
        "id": "audio",
        "title": "Audio",
        "summary": "Speech-to-text and text-to-speech actions.",
        "capability_names": [
          "ASR",
          "TTS Report",
          "TTS Low Cost"
        ]
      },
      {
        "id": "document",
        "title": "Document",
        "summary": "Document-to-markdown extraction for uploaded files such as PDFs.",
        "capability_names": [
          "Markdown Convert"
        ]
      },
      {
        "id": "retrieval",
        "title": "Retrieval",
        "summary": "Embedding and reranking utilities for search or RAG workflows.",
        "capability_names": [
          "Embeddings",
          "Reranker"
        ]
      },
      {
        "id": "generation",
        "title": "Generation",
        "summary": "Prompt-based image generation.",
        "capability_names": [
          "Image Generation"
        ]
      },
      {
        "id": "video",
        "title": "Video",
        "summary": "Video-oriented media transformation flows that require structured file inputs.",
        "capability_names": [
          "Video Face Generation"
        ]
      }
    ]
  },
  "x-agent-invocation-guide": {
    "preferred_entrypoint": "public_bridge",
    "user_response_policy": {
      "attachment_requests": "Treat uploaded files as ready for execution, prefer attachment URLs, and when the host exposes explicit attachment bytes, forward that explicit material before returning results or progress.",
      "internal_mechanics_visibility": "Do not expose image_url, attachment.url, storage URLs, bridge layers, or upload normalization details to end users unless they explicitly ask for technical debugging.",
      "manual_url_requests": "Do not ask end users to provide manual URLs, JSON field names, or upload-chain instructions.",
      "failure_language": "If user intervention is required, describe only the minimal next step in user-oriented language without revealing internal layering."
    },
    "host_bridge_note": "Host bridge entrypoint is host-owned integration code and is not bundled in this published package.",
    "bridge_auth_guidance": {
      "continuity_owner": "host_or_private_wrapper",
      "published_skill_persistence": "disabled",
      "success_contract": {
        "location": "data.agent_guidance.bridge_auth",
        "bridge_context_fields": [
          "entry_host",
          "entry_user_key"
        ],
        "reuse_targets": [
          "/agent/public-bridge/invoke",
          "/agent/public-bridge/upload-file"
        ],
        "reuse_actions": [
          "portal.account.connect",
          "portal.account.balance",
          "portal.account.ledger",
          "portal.skill.execute",
          "portal.skill.poll",
          "portal.skill.presentation"
        ]
      },
      "error_contract": {
        "location": "error.details.bridge_auth",
        "bridge_context_fields": [
          "entry_host",
          "entry_user_key"
        ],
        "recovery_fields": [
          "likely_cause",
          "recovery_action",
          "reauthorization_required"
        ]
      }
    },
    "action_payload_templates": {
      "portal.skill.execute": {
        "capability": "human_detect",
        "input": {
          "image_url": "https://files.example.com/demo.png"
        },
        "request_id": "optional_request_id"
      },
      "portal.skill.poll": {
        "run_id": "run_123"
      },
      "portal.skill.presentation": {
        "run_id": "run_123",
        "channel": "web",
        "include_files": true
      },
      "portal.account.connect": {
        "connect_mode": "browser",
        "auth_session_id": "optional_existing_auth_session"
      },
      "portal.account.balance": {},
      "portal.account.ledger": {
        "date_from": "2026-03-01",
        "date_to": "2026-03-15"
      }
    },
    "error_handling": [
      {
        "match": {
          "code": "AUTHORIZATION_REQUIRED",
          "message_contains": "bridge authorization is required"
        },
        "host_action": "show authorization_url, persist entry_user_key, then retry same action after authorization"
      },
      {
        "match": {
          "code": "AUTHORIZATION_REQUIRED",
          "details": {
            "likely_cause": "ENTRY_USER_KEY_NOT_REUSED",
            "recovery_action": "REUSE_ENTRY_USER_KEY",
            "reauthorization_required": false
          }
        },
        "host_action": "restore the previously persisted entry_user_key and retry the same bridge call before asking the user to authorize again"
      },
      {
        "match": {
          "code": "AUTH_UNAUTHORIZED",
          "message_contains": "agent_uid claim format is invalid"
        },
        "host_action": "normalize host agent_uid and retry the same bridge call"
      },
      {
        "match": {
          "code": "SYSTEM_NOT_FOUND",
          "message_contains": "agent binding not found"
        },
        "host_action": "restart the same bridge flow once so gateway can repair binding"
      }
    ],
    "explicit_connect_action": {
      "action": "portal.account.connect",
      "request_body": {
        "connect_mode": "browser"
      },
      "when_to_use": "Use this explicit action when the user wants to bind/login/check account connection before balance, ledger, or execute actions.",
      "success_states": [
        "authorization_required",
        "pending",
        "connected"
      ]
    },
    "bridge_api": {
      "endpoint": "/agent/public-bridge/invoke",
      "method": "POST",
      "requires_caller_managed_task_token": false,
      "request_body": {
        "entry_host": "<host_runtime>",
        "action": "portal.account.balance",
        "agent_uid": "support_assistant",
        "conversation_id": "host_session_20260316_opaque_001",
        "payload": {}
      },
      "notes": [
        "Preferred production entrypoint for third-party agent-friendly integration.",
        "entry_host must match the active host runtime. Current built-in examples are mobileclaw, openclaw, codex, and claude; future lowercase host slugs can follow the same contract. If omitted, export PUBLIC_BRIDGE_ENTRY_HOST or AI_TASK_HUB_ENTRY_HOST so the packaged runtime does not fall back to the wrong host.",
        "Example mappings: MobileClaw -> mobileclaw, OpenClaw -> openclaw, Codex -> codex, Claude -> claude. For a future host, reuse the same lowercase host slug for host and entry_host unless you intentionally need a different mapping.",
        "For end-user conversations, prefer direct execution and result delivery instead of explaining attachment upload or URL normalization internals.",
        "When the host exposes attachment bytes, the published skill forwards only that explicit attachment material through the public bridge before execute and injects the returned URL into the target media field.",
        "published skill persistence = disabled; continuity owner = host_or_private_wrapper.",
        "agent_uid should be the host-defined stable runtime agent identifier; bridge canonicalizes it server-side.",
        "conversation_id should be a host-generated opaque session or install identifier, not a public chat id, raw thread id, or PII.",
        "When TRIAL_ENABLED and trial points are available, first-time onboarding can proceed without browser authorization.",
        "Public bridge should resolve a stable external user binding when available; for new installations with TRIAL_ENABLED and available trial points, onboarding proceeds without browser authorization, and AUTHORIZATION_REQUIRED is returned only for conditional upgrade paths (for example trial exhausted or trial disabled rollback).",
        "authorization_url may include gateway_api_base_url and hosts should preserve it when completing browser authorization so the binding write lands on the same API environment.",
        "Cross-conversation account continuity requires reusing the same entry_user_key across follow-up calls.",
        "Successful public bridge responses include entry_host and entry_user_key; persist and reuse them even when no authorization error is returned.",
        "Use portal.account.connect as the explicit user-invoked bind/check action instead of relying only on AUTHORIZATION_REQUIRED from other actions.",
        "If AUTHORIZATION_REQUIRED includes likely_cause=ENTRY_USER_KEY_NOT_REUSED and reauthorization_required=false, hosts should restore the previously persisted entry_user_key instead of launching a new browser login.",
        "Gateway canonicalizes agent_uid, repairs binding when missing, and issues action-scoped task token internally.",
        "Write-capable execute actions should send options.confirm_write=true after user confirmation; otherwise gateway may return ACTION_CONFIRMATION_REQUIRED.",
        "base_url, gateway_api_key, api_key, user_token, agent_task_token, owner_uid_hint, and install_channel overrides are rejected by this bridge endpoint."
      ]
    },
    "trusted_host_bridge_api": {
      "endpoint": "/agent/skill/bridge/invoke",
      "method": "POST",
      "requires_caller_managed_task_token": false
    }
  },
  "paths": {
    "/agent/skill/execute": {
      "post": {
        "summary": "portal.skill.execute",
        "security": []
      }
    },
    "/agent/skill/runs/{runId}": {
      "get": {
        "summary": "portal.skill.poll",
        "security": []
      }
    },
    "/agent/skill/runs/{runId}/presentation": {
      "get": {
        "summary": "portal.skill.presentation",
        "security": []
      }
    },
    "/SKILL.md": {
      "get": {
        "summary": "Read skill markdown (English)"
      }
    },
    "/SKILL.zh-CN.md": {
      "get": {
        "summary": "Read skill markdown (Chinese)"
      }
    },
    "/agent/skill/account/balance": {
      "get": {
        "summary": "portal.account.balance",
        "security": []
      }
    },
    "/agent/skill/account/ledger": {
      "get": {
        "summary": "portal.account.ledger",
        "security": []
      }
    },
    "/agent/public-bridge/invoke": {
      "post": {
        "summary": "Preferred public bridge invoke endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entry_host",
                  "action",
                  "agent_uid",
                  "conversation_id"
                ],
                "properties": {
                  "entry_host": {
                    "type": "string",
                    "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$",
                    "description": "Host runtime slug. Current built-in examples include openclaw, mobileclaw, codex, and claude; future lowercase host slugs can use the same contract."
                  },
                  "entry_user_key": {
                    "type": "string"
                  },
                    "action": {
                      "type": "string",
                      "enum": [
                        "portal.skill.execute",
                        "portal.skill.poll",
                        "portal.skill.presentation",
                        "portal.account.connect",
                        "portal.account.balance",
                        "portal.account.ledger"
                      ]
                    },
                  "agent_uid": {
                    "type": "string"
                  },
                  "conversation_id": {
                    "type": "string"
                  },
                  "payload": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "expires_in_seconds": {
                        "type": "integer",
                        "minimum": 60,
                        "maximum": 900
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bridge-invoked read/poll/presentation result; success data includes entry_host and entry_user_key"
          },
          "202": {
            "description": "Bridge-invoked execute accepted; success data includes entry_host and entry_user_key"
          },
          "400": {
            "description": "Invalid bridge request"
          },
          "401": {
            "description": "AUTHORIZATION_REQUIRED with authorization_url, entry_user_key, and possible recovery hints such as likely_cause=ENTRY_USER_KEY_NOT_REUSED"
          },
          "429": {
            "description": "Bootstrap rate limit exceeded"
          }
        }
      }
    },
    "/agent/hosted-connector/install": {
      "post": {
        "summary": "Create a hosted connector installation",
        "responses": {
          "200": {
            "description": "Hosted connector installation created; returns connection_id and connection_token"
          },
          "400": {
            "description": "Invalid hosted connector install request"
          }
        }
      }
    },
    "/agent/hosted-connector/connect": {
      "post": {
        "summary": "Start or resume hosted connector browser authorization",
        "parameters": [
          {
            "name": "x-connector-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hosted connector authorization state; may return authorization_url, auth_session_id, and entry_user_key"
          },
          "401": {
            "description": "Missing or invalid connection token"
          }
        }
      }
    },
    "/agent/hosted-connector/invoke": {
      "post": {
        "summary": "Invoke a hosted connector action with installation-scoped continuity",
        "parameters": [
          {
            "name": "x-connector-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hosted connector read/poll/presentation result; success data includes connection_id and connector_status"
          },
          "202": {
            "description": "Hosted connector execute accepted; success data includes connection_id and connector_status"
          },
          "401": {
            "description": "Missing or invalid connection token"
          }
        }
      }
    },
    "/agent/hosted-connector/status": {
      "post": {
        "summary": "Read hosted connector status for one installation",
        "parameters": [
          {
            "name": "x-connector-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hosted connector status for the installation"
          },
          "401": {
            "description": "Missing or invalid connection token"
          }
        }
      }
    },
    "/agent/hosted-connector/logout": {
      "post": {
        "summary": "Clear hosted connector continuity for one installation",
        "parameters": [
          {
            "name": "x-connector-token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hosted connector continuity cleared for the installation"
          },
          "401": {
            "description": "Missing or invalid connection token"
          }
        }
      }
    },
    "/agent/skill/bridge/invoke": {
      "post": {
        "summary": "Trusted host bridge invoke endpoint"
      }
    }
  },
  "components": {
    "securitySchemes": {},
    "schemas": {
      "PortalSkillExecuteInput": {
        "type": "object",
        "required": [
          "capability",
          "input"
        ],
        "properties": {
          "capability": {
            "type": "string"
          },
          "input": {
            "type": "object",
            "additionalProperties": true
          },
          "request_id": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "PortalSkillExecuteOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "accepted"
            ]
          },
          "capability": {
            "type": "string"
          },
          "service_id": {
            "type": "string"
          },
          "poll_url": {
            "type": "string"
          },
          "queued_at": {
            "type": "string",
            "format": "date-time"
          },
          "reused": {
            "type": "boolean"
          }
        }
      },
      "PortalSkillPollInput": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "properties": {
          "run_id": {
            "type": "string"
          }
        }
      },
      "PortalSkillPollOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "terminal": {
            "type": "boolean"
          },
          "service_id": {
            "type": "string"
          },
          "output": {
            "type": "object",
            "additionalProperties": true
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "properties": {
                  "recharge_url": {
                    "type": "string"
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "PortalSkillPresentationInput": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "properties": {
          "run_id": {
            "type": "string"
          },
          "channel": {
            "type": "string",
            "enum": [
              "web",
              "telegram"
            ]
          },
          "include_files": {
            "type": "boolean"
          }
        }
      },
      "PortalSkillPresentationOutput": {
        "type": "object",
        "properties": {
          "run_id": {
            "type": "string"
          },
          "service_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "terminal": {
            "type": "boolean"
          },
          "visual": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "PortalAccountBalanceInput": {
        "type": "object",
        "additionalProperties": true,
        "description": "No input required; payload is optional."
      },
      "PortalAccountConnectInput": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "connect_mode": {
            "type": "string"
          },
          "auth_session_id": {
            "type": "string"
          }
        }
      },
      "PortalAccountConnectOutput": {
        "type": "object",
        "properties": {
          "connection_state": {
            "type": "string",
            "enum": [
              "authorization_required",
              "pending",
              "connected"
            ]
          },
          "authorization_url": {
            "type": "string"
          },
          "auth_session_id": {
            "type": "string"
          },
          "host_action": {
            "type": "string"
          },
          "entry_host": {
            "type": "string"
          },
          "entry_user_key": {
            "type": "string"
          }
        }
      },
      "PortalAccountBalanceOutput": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "available_points": {
            "type": "number"
          },
          "recharge_url": {
            "type": "string"
          }
        }
      },
      "PortalAccountLedgerInput": {
        "type": "object",
        "properties": {
          "date_from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "date_to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          }
        }
      },
      "PortalAccountLedgerOutput": {
        "type": "object",
        "properties": {
          "timezone": {
            "type": "string"
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    }
  }
}
