ARK_API_KEY=your_api_key
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBAO_SEED_ENDPOINT_ID=doubao-seed-2-0-pro-260215
DPP_DEFAULT_VIDEO_PATH=video/demo.mp4
ARK_TIMEOUT_SECONDS=600
ARK_FILE_PURPOSE=user_data
ARK_INPUT_FILE_TYPE=input_video
DPP_VIDEO_GENERATION_MODEL=doubao-seedance-2-0-260128
ARK_FILE_ID=
DPP_REFERENCE_VIDEO_URL=
DPP_VIDEO_DURATION_SECONDS=5
DPP_VIDEO_RATIO=adaptive
DPP_VIDEO_RESOLUTION=720p
DPP_VIDEO_POLL_INTERVAL_SECONDS=5
DPP_VIDEO_WAIT_TIMEOUT_SECONDS=900
DPP_VIDEO_REFERENCE_VIDEO_ROLE=reference_video
DPP_VIDEO_REFERENCE_IMAGE_ROLE=reference_image
TOS_BUCKET=your_bucket_name
TOS_AK=
TOS_SK=
TOS_ENDPOINT=your_tos_endpoint
TOS_REGION=cn-beijing
TOS_OBJECT_PREFIX=demo/dpp
TOS_ENABLE_HTTPS=true
TOS_FORCE_ENDPOINT=false
